
html{
    font-size: 100%;
    background: #2e3042;
    height: 100%;
}

body{
    font-size: 150%;
    line-height: 1.7;
    color: #F8F8F8;
    margin: 0;
    padding: 0;
}

/*----タイトル----*/
.p-quiz {
    position:fixed;
}

.p-quiz-ttl{
    font-size: 100px;
    color: #000;
    text-align: center;
}
/*---------------------*/

.back-img{
    height: 250px;
    width: 100%;
}
/*----ライフライン----*/

.life-line{
    margin: 30px;
    display:flex;
    flex-flow: column;
}

.life-line a{
    height: 50px;
    width: 100px;
    margin: 10px;
}

    .btn2,
    a.btn2,
    button.btn2 {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.5;
      position: relative;
      display: inline-block;
      padding: 1rem 4rem;
      cursor: pointer;
      user-select: none;
      transition: all 0.3s;
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
      letter-spacing: 0.1em;
      border-radius: 0.5rem;
    }

    a.btn2--blue {
        color: #000;
        background-color: #00ffff;
        border-bottom: 5px solid #33cfcf;
      }
      
    a.btn2--blue2:hover {
        margin-top: 3px;
        color: #000;
        background: #00ffff;
        border-bottom: 2px solid #33cfcf;
      }
/*---------------------*/


/*----問題文----*/
.box{
    padding: 0.5em 1em;
    margin: 2em ;
    border: double 5px #4ec4d3;
    height: 250px;
    background-color: #2e3042;
}

.box p{
    margin: 0;
    padding: 0;
}


.quiz2{
    height: auto;
    width: 100%;
    margin: 30;
    padding: 0;
}
/*-------------*/


/*----選択肢----*/

.Choices{
    padding: 20px;
    margin: 30px;
    text-align: center;
}

.btn,
a.btn,
button.btn {
    height: 50px;
    width: 250px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}

a.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

a.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}
/*-----------------------------------*/